/* FavoritesPage.css */

.favoritesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
   }
   
   .favoritesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px; /* Set a specific height for the grid rows */
    grid-gap: 20px;
    width: 100%;
    max-width: 1200px; /* Adjust this value based on your design */
    margin: 0 auto;
   }
   
   /* Responsive grid adjustments */
   @media (max-width: 768px) {
    .favoritesGrid {
       grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
       grid-auto-rows: 150px; /* Adjust the row height for smaller screens */
    }
   }
   
   @media (max-width: 480px) {
    .favoritesGrid {
       grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
       grid-auto-rows: 100px; /* Adjust the row height for smaller screens */
    }
   }