.like-button {
    margin: 10px;
    padding: 10px;
    background-color: #f41111; /* for example */
    color: rgb(240, 6, 6);
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .like-button:hover {
    background-color: #828382;
  }
  
  .likes-count {
    margin: 10px;
  }
  
  .message {
    margin: 10px;
  }
  